.header{
    background-image: url("../images/banner_02.png");
    background-size: cover;
}

.header-wrapper{
    margin: 0 auto;
    padding: 0 20px;
}

/**body part starts**/

/**body parts ends**/

@media(min-width: 480px){
}
@media(min-width:768px){
}
@media(width: 992px){
    
}
@media(min-width: 1200px){
    .container {
        width: 73.125em;/**1170px is the width**/
    }
    .header-wrapper{
        padding: 0px;
    }
}