.header{
    background-image: url("../images/banner_02.png");
    background-size: cover;
}

.header-wrapper{
    margin: 0 auto;
    padding: 0 20px;
}

/**body part starts**/
.body{
    background: #f1f5f8;
}
.body-wrapper{
    position: relative;
    margin: 0 auto;
    background: transparent;
    /* padding: 0 20px; */
}
.subscribe-letter{
    width: 100%;
    background: #dae1e7;
}
.subscribe-section-wrapper{
    margin: 0 auto;
}
.testimonials{
    padding: 100px 0 94px 0;
    margin: 0 auto;
    display: none;
}
.mockups{
    margin: 0 auto;
    padding-top: 98px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 98px;
}
/**body parts ends**/
.footer{
    background: #21272c;
}
.footer-div{
    padding-top: 80px;
    padding-bottom: 0;
    margin: 0 auto;
}
.footer-div .float-clearer{
    margin-bottom: 100px;
}
.float-clear{
    clear: both;
    margin-bottom: 32px;
}
/* .last-footer{
    border-top: 1px solid #dae1e7;
} */

@media(min-width: 480px){
    /* .container{
        width: 28.125em;
    } */
}
@media(min-width:768px){
    /* .container {
        width: 46.125em;
    }  */
    .mockups{
        padding-left: 0;
        padding-right: 0;
    }
}
@media(width: 992px){
    .container {
        width: 60.125em;
    }  
    .testimonials{
        display: block;
    }
}
@media(min-width: 1200px){
    .container {
        width: 73.125em;/**1170px is the width**/
    }
    .header-wrapper{
        padding: 0px;
    }
    .body-wrapper{
        padding: 0;
    }
    .testimonials{
        display: block;
    }
}