.header-navbar{
    border-bottom: 5px solid rgba(255, 255, 255, 0.4);
}

.navbar-logo-wrapper{
    float: left;
}
.logo{
    float: left;
    width: 26px;
    padding: 24px 8px 22px 0px;
}
.logo-title{
    font-weight: 700;
    color: white;
    padding: 25px 0px 0px 8px;
    font-size: 26px;
    float: right;
}
.float-clearer{
    clear: both;
}

.navbar-logo-wrapper{
    float: left;
    height: inherit;
}
.nav-wrapper{
    display: none;
    /* float: right; */
    height: 100%;
    padding: 43px 0 26px 0;
}
.nav-wrapper ul{
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 0;
    margin: 0;
}
.nav-wrapper .navbar li {
    display: inline;
    padding: 13px 22px;
}
.nav-wrapper .navbar li.first{
    padding-left: 0;
}
.nav-wrapper .navbar li.last{
    padding-right: 26px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.nav-wrapper .navbar li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.navbar-icons{
    float: right;
}
.navbar-icons ul{
    padding: 0 25px;
    float: left;
}
.navbar-icons ul li{
    display: inline;
    padding: 10px;  
}
.navbar-icons .login-btn{
    float: right;
    font-size: 13px;
    font-weight: 500;
    padding: 16px 27px 15px 26px;
    color: white;
    background-color: #86919d;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -16px;
}
.navbar-icons .login-btn:hover{
    background-color: #2f8be6;
}
.burger-menu{
    display: block;
    cursor: pointer;
    float: right;
    padding: 25px 0px 25px 0px;
}

.header-body-section{
    width: 100%;
}
.header-body-wrapper{
    /* width: 71.940170%; */
    padding: 40px 20px;
    margin: 0 auto;
}
.header-body-header{
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.header-body-par{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 20px 0;
    box-sizing: border-box;
}
.header-body-buttons{
    text-align: center;
}
.header-btn{
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: #86919d;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
}
.header-btn:hover{
    background-color: #2f8be6;
}

/**body part starts**/

/**body part ends**/

@media(min-width:480px){
    
}
@media(min-width:768px){
    .logo-title{
        font-size: 32px;
    }
    .header-body-wrapper{
        /* width: 71.940170%; */
        padding: 80px 13.529914%;
        margin: 0 auto;
    }
    .header-body-header{
        font-size: 55px;
    }
    .header-body-par{
        font-size: 18px;
        margin: 40px 0;
    }
    .header-btn{
        font-size: 18px;
        background-color: #86919d;
        padding: 20px 22px;
        margin: 0 10px;
        cursor: pointer;
    }
}
@media(min-width:992px){
    .nav-wrapper{
        display: block;
        float: left;
        margin: 0 auto;
        padding-left: 30px;
    }
    .logo-title{
        font-size: 36px;
    }
    .logo{
        width: auto;
    }
    .burger-menu{
        display: none;
    }
    .header-body-header{
        font-size: 62px;
    }
    .header-body-wrapper{
        /* width: 71.940170%; */
        padding: 116px 13.529914%;
        margin: 0 auto;
    }
    .header-body-par{
        font-size: 20px;
        margin: 40px 0;
    }
    .header-btn{
        font-size: 18px;
        background-color: #86919d;
        padding: 23px 25px;
        margin: 0 10px;
        cursor: pointer;
    }
}
@media(min-width:1200px){
    .nav-wrapper{
        float: right;
        padding-left: 0;
    }
}