.header-navbar{
    border-bottom: 5px solid rgba(255, 255, 255, 0.4);
}

.navbar-logo-wrapper{
    float: left;
}
.logo{
    float: left;
    width: 26px;
    padding: 24px 8px 22px 0px;
}
.logo-title{
    font-weight: 700;
    color: white;
    padding: 25px 0px 0px 8px;
    font-size: 26px;
    float: right;
}
.float-clearer{
    clear: both;
}

.navbar-logo-wrapper{
    float: left;
    height: inherit;
}
.nav-wrapper{
    display: none;
    /* float: right; */
    height: 100%;
    padding: 43px 0 26px 0;
}
.nav-wrapper ul{
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 0;
    margin: 0;
}
.nav-wrapper .navbar li {
    display: inline;
    padding: 13px 22px;
}
.nav-wrapper .navbar li.first{
    padding-left: 0;
}
.nav-wrapper .navbar li.last{
    padding-right: 26px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.nav-wrapper .navbar li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.navbar-icons{
    float: right;
}
.navbar-icons ul{
    padding: 0 25px;
    float: left;
}
.navbar-icons ul li{
    display: inline;
    padding: 10px;  
}
.navbar-icons .login-btn{
    float: right;
    font-size: 13px;
    font-weight: 500;
    padding: 16px 27px 15px 26px;
    color: white;
    background-color: #86919d;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -16px;
}
.navbar-icons .login-btn:hover{
    background-color: #2f8be6;
}
.burger-menu{
    display: block;
    cursor: pointer;
    float: right;
    padding: 25px 0px 25px 0px;
}

.header-body-section{
    width: 100%;
}
.header-body-wrapper{
    /* width: 71.940170%; */
    padding: 40px 20px;
    margin: 0 auto;
}
.header-body-header{
    display: inline-block;
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.header-body-par{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin: 20px 0;
    box-sizing: border-box;
}
.header-body-buttons{
    text-align: center;
}
.header-btn{
    color: white;
    font-weight: 500;
    font-size: 15px;
    background-color: #86919d;
    padding: 18px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 10px;
    cursor: pointer;
}
.header-btn:hover{
    background-color: #2f8be6;
}

/**body part starts**/
.body-wrapper-absolute{
    width: inherit;
    position: relative;
    top: -5px;
}
.search-box-wrapper{
    /* position: absolute; */
    border-radius: 5px;
    /* top: -37px; */
    background: white;
    width: inherit;
    box-shadow: -1px 2px 7px -2px black;
    border: none;
    margin-bottom: 20px;
}
.search-dropdown{
    padding: 8px 3px;
    font-size: 12px;
    font-weight: 400;
    color: #949494;
    border: none;
    border-right: 1px solid #949494;
    outline: none;
    background: transparent;
}
.search-bar{
    font-size: 14px;
    font-weight: 400;
    color: #949494;
    height: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 30px;
    background-image: url("../images/search_icon2.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
}
.search-btn{
    font-size: 14px;
    font-weight: 500;
    float: right;
    padding: 8px 7px;
    cursor: pointer;
    background: #86919d;
    outline: none;
    border: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.search-btn:hover{
    background: #2f8be6;
}
.search-filter{
    margin-top: 10px;
}
.search-filter p{
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    color: #a2adb8;
    margin-right: 25px;
    float: left;
}
.filter-list{
    float: left;
}
.filter-list li{
    float: left;
    display: inline;
    padding: 12px 15px;
    color: black;
    background: #dae1e7;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.filter-list li:hover{
    color: white;
    background: #2f8be6;
}
.product-wrapper{
    width: inherit;
    margin-top: 55px;
}
.products{
    width: 80%;
    margin: 0 auto;
}
.product-box{
    float: left;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 2px solid #949494;
    background-color: #ffffff;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.product-image{
    background-size: cover;
    width: inherit;
    height: 200px;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.product-image.one{
    background-image: url(../images/product1.png);
}
.product-image.two{
    background-image: url(../images/product2.png);
}
.product-image.three{
    background-image: url(../images/product3.png);
}
.product-image.four{
    background-image: url(../images/product4.png);
}
.product-image.five{
    background-image: url(../images/product5.png);
}
.product-image.six{
    background-image: url(../images/product6.png);
}
.product-image.seven{
    background-image: url(../images/product7.png);
}
.product-image.eight{
    background-image: url(../images/product8.png);
}
.product-image.nine{
    background-image: url(../images/product9.png);
}
.product-image .product-image-hover{
    display: none;
    width: inherit;
    height: inherit;
    background: rgba(21, 21, 21, 0.9);
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.top-product-image{
    margin: 7px;
    float: left;
    padding: 9px 6px 11px 8px;
    background: #dae1e7;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}
.top-product-image:hover{
    background: #2f8be6;
    color: white
}
.top-product-image .first-part{
    float: left;
    margin-right: 8px;
}
.top-product-image .second-part{
    float: right;
    margin-left: 8px;
}
.product-box:hover .product-image-hover{
    display: block;
}
.product-hover-img{
    position: relative;
    width: 90px;
    margin: 0 auto;
    top: 49%;
}
.detail-div{
    float: left;
    padding: 12px 11px;
    background-color: #ffffff;
    border-radius: 5px;
}
.detail-div:hover{
    background-color: #2f8be6;
}
/* .detail-div:hover img{
    content: url();
} */
.cart-div{
    float: right;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    border-radius: 5px;
}
.cart-div:hover{
    background-color: #2f8be6; 
}
.cart-div:hover .img-cart{
    content: url("../images/cart.png");
}
.product-details{
    padding: 15px 25px;
}
.box-header{
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
}
.box-header:hover{
    text-decoration: underline;
    color: #2f8be6;
}
.box-paragraph{
    font: 16px;
    font-weight: 400;
    padding: 7px 0 44px 0;
}
.box-detail-section{
    width: inherit;
}
.box-detail-left{
    float: left;
    padding-top: 8px;
}
.box-detail-right{
    float: right;
    font-size: 14px;
    font-weight: 700;
    color: #86919d;
    padding: 7px 11px;
    background-color: #f1f5f8;
    border-radius: 5px;
}
.box-detail-right.free{
    color: #ffffff;
    background-color: #2aa461;
}
.box-detail-right:hover{
    color: #ffffff;
    background-color: #2f8be6;
}
.author-img{
    border-radius: 5px;
    float: left;
}
.author-credit{
    padding-left: 8px;
    font-size: 13px;
    font-weight: 400;
    float: right;
    color: #a2adb8;
}
.author-name{
    font-weight: 700;
    color: #86919d;
}
/**body part ends**/

@media(min-width:480px){

}
@media(min-width:768px){
    .logo-title{
        font-size: 32px;
    }
    .header-body-wrapper{
        /* width: 71.940170%; */
        padding: 80px 13.529914%;
        margin: 0 auto;
    }
    .header-body-header{
        font-size: 55px;
    }
    .header-body-par{
        font-size: 18px;
        margin: 40px 0;
    }
    .header-btn{
        font-size: 18px;
        background-color: #86919d;
        padding: 20px 22px;
        margin: 0 10px;
        cursor: pointer;
    }
    .products{
        width: 760px;
        margin: 0 auto;
    }
    .product-box{
        width: 330px;
        margin: 0 25px;
        margin-bottom: 40px;
    }
    .product-image{
        width: inherit;
        height: 240px;
        background-size: cover;
    }
    .body-wrapper-absolute{
        top: -37px;
    }
    .search-dropdown{
        padding: 2.222222%;
        font-size: 16px;
    }
    .search-bar{
        font-size: 20px;
        padding-left: 70px;
        background-position-x: 30px;
    }
    .search-btn{
        font-size: 18px;
        padding: 2.136752% 3.418803%;
    }
}
@media(min-width:992px){
    .nav-wrapper{
        display: block;
        float: left;
        margin: 0 auto;
        padding-left: 30px;
    }
    .logo-title{
        font-size: 36px;
    }
    .logo{
        width: auto;
    }
    .burger-menu{
        display: none;
    }
    .header-body-header{
        font-size: 62px;
    }
    .header-body-wrapper{
        /* width: 71.940170%; */
        padding: 116px 13.529914%;
        margin: 0 auto;
    }
    .header-body-par{
        font-size: 20px;
        margin: 40px 0;
    }
    .header-btn{
        font-size: 18px;
        background-color: #86919d;
        padding: 23px 25px;
        margin: 0 10px;
        cursor: pointer;
    }
    .products{
        width: 840px;
        margin: 0 auto;
    }
    .product-box{
        width: 370px;
        margin: 0 25px;
        margin-bottom: 40px;
    }
    .product-image{
        margin: 0;
        width: inherit;
        height: 280px;
        background-size: cover;
    }
}
@media(min-width:1200px){
    .nav-wrapper{
        float: right;
        padding-left: 0;
    }
    .product-box{
        margin-right: 0;
        margin: 0;
        margin-bottom: 40px;
    }
    .product-box{
        width: 370px;
    }
    .products{
        width: inherit;
    }
    .product-image{
        width: inherit;
        height: 280px;
        margin: 0;
    }
    .product-box:nth-child(3n+2){
        margin: 0 30px;
    }
}